


<md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button>
    Integrify.net

    <button md-fab (click)="formShowing=!formShowing">
      <md-icon>add</md-icon>
    </button>
  </md-toolbar>



<md-card *ngFor="let c of cuisines | async"> 
 {{c.$value }}
</md-card>

<ul>
  <li *ngFor="let c of cuisines | async"> {{c.$value }}</li>
</ul>


<md-card *ngFor="let c of cuisines | async"> 
  <h1>Rendering an Object</h1>
 {{c.$value }}

</md-card>

<md-card>
  <button md-raised-button (click)="add()">
      <md-icon>note_add</md-icon>
      Add an Object
    </button>
</md-card>

